@{
    ViewBag.Title = "Info";
}

<html>
<body>
    <h1><b>MA</b>nagment <b>T</b>est <b>A</b>nalýzy</h1>
    <h2>Kontakt</h2>
    <p>
        Miroslav Benda
    </p>

    <a href="http://intranet.cetin/pages/viewpage.action?pageId=119626109">Administrátorská příručka MANTA</a>

</body>
</html>
